#inex {
	.bar {
		align-items: center;
		display: flex;
		flex: 1;
		margin-bottom: 1px;
		padding: .1rem .5rem;
	}

	.left-column, .right-column {
		width: 47.5%;
	}

	.vis {
		height: 50vh;
		font-size: 90%;
		min-height: 400px;
	}
}