#visualization {
	.left-column, .right-column {
		width: 45%;
	}

	.middle-column {
		width: 10%;
	}

	.bar, .label {
		align-items: center;
		display: flex;
		flex: 1;
		padding: .1rem .5rem;
	}

	@mixin color($i, $bg, $fg) {
		.bar[data-color-index="#{$i}"] {
			background-color: $bg;
			color: $fg;
		}
		.curve[data-color-index="#{$i}"] {
			stroke: $bg;
		}
	}
	@for $i from 0 through 15 {
		@include color($i, nth($vis-colors, 1 + $i % length($vis-colors)), white);
	}

	.curve {
		fill: none;
	}

	.label {
		text-align: left;
	}

	svg {
		height: 100%;
		width: 100%;
	}

	#breadcrumbs {
		font-weight: bold;
	}

	#vis {
		height: 50vh;
		min-height: 400px;

		& > div {
			height: 100%;
		}

		.bar, .label {
			cursor: pointer;
		}
	}
}
