#vis {
	border: 1px solid red;
	display: flex;
	height: 75vh;

	#bars, #labels {
		width: 45%;
	}

	#curves {
		height: 100%;
		width: 10%;
	}

	.bar, .label {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex: 1;
		justify-content: center;
		padding: .25rem;
	}

	.curve {
		fill: none;
	}

	svg {
		height: 100%;
		width: 100%;
	}
}
