#vis {
	border: 1px solid red;
	display: flex;
	height: 75vh;

	.bar, .label {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
		padding: .25rem;
	}
}

#bars {
	width: 40%;
}

#curves {
	height: 100%;
	width: 20%;

	svg {
		height: 100%;
		width: 100%;
	}
}

#labels {
	flex-grow: 1;
	width: 40%;
}