# Gridsome .gitignore
# -------------------

*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*

# Custom .gitignore
# -----------------

# Generated data:
src/data/2*
src/data/data.json
src/data/milestones.json
src/data/tags.json
src/data/tooltips.json
src/data/lorem*

# Generated docs:
README.pdf

# Logs:
static/search.log

# Copied downloads:
static/budget.xlsx
