# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# KÖKÖ

src/data/2*
src/data/config.json
src/data/data.json
src/data/functions.tsv
src/data/milestones.json
src/data/tags.json
src/data/tooltips.json
src/data/lorem*
src/scss/_generated.scss
static/budget.xlsx
static/search.log
