# Gridsome .gitignore
*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*

# Custom .gitignore

# Generated data:
src/data/2*
src/data/lorem*

# Input data:
src/data/src

# Generated docs
README.pdf