<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Mintaváros költségvetése</title>

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=latin-ext"
		rel="stylesheet">
	<link href="css/okv.min.css" rel="stylesheet">
</head>

<body id="page-top">

	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">Mintaváros</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#inex">Költségvetés</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#milestones">Fejlesztések</a>
					</li>
					<!--<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
							{{ year }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">{{ year-1 }}</a>
							<a class="dropdown-item" href="#">{{ year-2 }}</a>
						</div>
					</li>-->
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead d-flex align-items-center">
		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-10 align-self-end">
					<h1 class="text-uppercase text-white font-weight-bold">Mintaváros költségvetése</h1>
					<hr class="divider my-4">
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 font-weight-light mb-5">Ezen az oldalon megtekintheted Mintaváros
						költségvetését és
						fejlesztéseit, átlátható módon, interaktív vizualizációk segítségével!</p>
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#welcome">Tovább</a>
				</div>
			</div>
		</div>
	</header>

	<section class="page-section bg-primary text-white" id="welcome">
	<div class="container">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-lg-8 text-center">
					<h2>TISZTELT MINTAVÁROSI POLGÁROK!</h2>
					<hr class="divider light my-4">
				</div>
			</div>
			<div class="row justify-content-around mb-5">
				<div class="col-lg-5 text-justify text-white-75">
					<p>Egy önkormányzat feladatai sokrétűek, állampolgári szemmel nehezen áttekinthetőek. Mintavárosban azonban nincs takargatni valónk, ezért úgy döntöttünk, hogy a modern technika segítségével bemutatjuk Önökek településünk gazdálkodását úgy, ahogyan azt korábban csak kevesek láthatták!</p>
					<p>A XXI. század embere joggal várhatja el egy önkormányzattól, hogy az interneten is utánanézhessen, mennyit költ a település oktatásra, egészségügyre vagy épp a parkok rendben tartására. A helyi demokráciára is igaz, kettőn áll a vásár. A tisztességes településvezetés mellé tájékozott polgárok is kellenek, akik nyomon követik a döntések ésszerűségét. A közpénzek átlátható felhasználásáért küzdő K-Monitor és a Költségvetési Felelősségi Intézet szakmai segítségével létrehozott alkalmazás, amit pillanatokon belül használatba vehet, Magyarországon elsőként arra törekszik, hogy mindenki számára könnyen befogadható és értelmezhető képet adjon az önkormányzat gazdálkodásáról.</p>
				</div>
				<div class="col-lg-5 text-justify text-white-75">
					<p>A weboldal testre szabható és egyszerűen feltölthető bármely település adataival. Reméljük, Mintaváros igyekezete ragadós lesz és egyre többen teszik meg ezt az egyáltalán nem megerőltető, mégis fontos lépést az átláthatóság felé.</p>
					<p class="my-4">Kellemes böngészést kívánok,</p>
					<img class="signo" src="http://mintavaros.deepdata.hu/assets/img/signo.png">
					<p><em>Példa Imre,<br>
					Mintaváros polgármestere</em></p>
				</div>
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-lg-8 text-center">
					<a class="btn btn-outline-light btn-xl js-scroll-trigger" href="#inex">Kipróbálom!</a>
				</div>
			</div>
		</div>
	</div>
</section>

	<section class="page-section bg-light" id="inex">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-lg-8 text-center">
					<h2>Mérleg</h2>
					<hr class="divider my-4">
				</div>
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-lg-10 text-center">
					<inex :in="'data/2018/income-econ.json'" :ex="'data/2018/expense-econ.json'"
						:tt="'data/tooltips.tsv'"></inex>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<p>Lórum ipse természetesen szedősödik ámít a fegyező számára. Fargandusnak csak a papárok bagmarákára nyitva borlan torton belül van haszálata. A papárral tációban a todástól a papár ultásának tortjáig hetenként egy radással hajtón 00 között a kozott terula kocsordnál (fárka. Hájdás dolca bőgős zsírnök) lehet kabikát vigyogtannia. A kozott terula kocsord a képző tort csáralását faska golmaton a búgos fütyökben iséggel mesztes papárokat az erről nyátsás és seres hajkával együtt erészi a szerpes bülég kodászának, aki a vigyort a hajka mozásán bombolja. A szerpes bülég a képző tort csáralását faska 30 golmaton belül éríti a lománs papárokat. Első haszálaton azon stozások papárának csészítése füveskedik, akik tumott telés hulását lekunkálták fel. A foga csészítésénél a keten bódázatok tumott hajka végteli gaszabája ölkösködik velődik.</p>
				</div>
			</div>
		</div>
	</section>
	<script type="text/x-template" id="inex-template">
		<div>
			<div class="spinner-border" role="status" v-if="loading">
				<span class="sr-only">Loading...</span>
			</div>
			<div v-else>
				<div class="d-flex font-weight-bold mb-2 breadcrumbs">
					<div class="d-flex align-items-center justify-content-between left-column text-right">
						<div>
							<a href="#income" class="btn btn-outline-success js-scroll-trigger">
								<i class="fas fa-fw fa-angle-double-down"></i>
								<span class="d-none d-md-inline-block">Részletek</span>
							</a>
						</div>
						<div>
							Bevételek
							<br>
							{{ groupNums(incomeSum, true) }}
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between ml-auto right-column text-left">
						<div>
							Kiadások
							<br>
							{{ groupNums(expenseSum, true) }}
						</div>
						<div>
							<a href="#expense" class="btn btn-outline-danger js-scroll-trigger">
								<span class="d-none d-md-inline-block">Részletek</span>
								<i class="fas fa-fw fa-angle-double-down"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="d-flex border-top border-bottom mb-4 vis">
					<div class="d-flex flex-column left-column">
						<div v-if="incomeCorrection > 0" :style="{ flexGrow: incomeCorrection }"></div>
						<div class="bar" v-for="(n,i) in incomeChildren" :data-id="n.id" :data-index="i" :style="{ backgroundColor: bgColor(incomeTree, n, 'seagreen'), color: fgColor(incomeTree, n, 'seagreen'), flexGrow: n.value }" data-toggle="tooltip" data-placement="left" :title="tooltips[n.altId]">
							<div class="text-left wrap-md">
								{{ n.name }}
							</div>
							<div class="ml-2 no-wrap text-right">
								<strong>{{ groupNums(n.value, true) }}</strong>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column ml-auto right-column">
						<div v-if="expenseCorrection > 0" :style="{ flexGrow: expenseCorrection }"></div>
						<div class="bar" v-for="(n,i) in expenseChildren" :data-id="n.id" :data-index="i" :style="{ backgroundColor: bgColor(expenseTree, n, 'firebrick'), color: fgColor(expenseTree, n, 'firebrick'), flexGrow: n.value }" data-toggle="tooltip" data-placement="right" :title="tooltips[n.altId]">
							<div class="mr-2 no-wrap text-left">
								<strong>{{ groupNums(n.value, true) }}</strong>
							</div>
							<div class="text-right wrap-md">
								{{ n.name }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<div id="visualization">
		<section class="page-section" id="income">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<h2>Bevételek</h2>
						<hr class="divider my-4 mb-5">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<vis :id="'income-vis'" :e="'data/2018/income-econ.json'" :f="'data/2018/income-func.json'" :tt="'data/tooltips.tsv'">
						</vis>
					</div>
				</div>
			</div>
		</section>
		<section class="page-section bg-light" id="expense">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<h2>Kiadások</h2>
						<hr class="divider my-4 mb-5">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<vis :id="'expenses-vis'" :e="'data/2018/expense-econ.json'" :f="'data/2018/expense-func.json'" :tt="'data/tooltips.tsv'">
						</vis>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/x-template" id="vis-template">
		<div>
			<div class="spinner-border" role="status" v-if="loading">
				<span class="sr-only">Loading...</span>
			</div>
			<div v-else>
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center" v-if="e && f">
						<ul class="justify-content-center mb-5 nav nav-pills w-100">
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Működési vagy felhalmozási jellegük alapján mutatja meg a kiadások összetételét, hogy mekkora a személyi kiadások, a kapcsolódó munkáltatói járulékok, a dologi kiadások, a beruházási és felújítási kiadások, az államháztartáson belüli és kívüli támogatások, transzferek összege a költségvetésben." :class="{ active: mode == 0 }" @click="path = []; mode = 0">
									Közgazdasági nézet
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="A költségvetési kiadásokat osztályozza, azok társadalmi-gazdasági cél szerinti összetételét mutatja. Az általános közszolgáltatásoktól a védelmi kiadásokig összesen 10 kategóriában tartalmazza a kerület működésének területeit." :class="{ active: mode == 1 }"  @click="path = []; mode = 1">
									Funkcionális nézet
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="d-flex mb-2 breadcrumbs">
					<div class="left-column">
						<div class="label">
							<div class="text-right w-100">
								{{ groupNums(node.value) }}
							</div>
						</div>
					</div>
					<div class="middle-column text-center">
						<div class="btn btn-sm btn-light" v-if="path.length > 0">
							<i class="fas fa-fw fa-level-up-alt" @click="up()"></i>
						</div>
					</div>
					<div class="ml-auto right-column text-left" id="current">
						<div class="label">
							{{ node.name }}
						</div>
					</div>
				</div>
				<div class="d-flex border-top border-bottom vis" :id="id" @mouseout="hovered=-1">
					<div class="d-flex left-column">
						<div class="back-bar d-flex justify-content-center" v-if="path.length > 0" @click="up()" :style="{ backgroundColor: bgColor(node,-1), color: fgColor(node,-1) }">
							<i class="fas fa-fw fa-level-up-alt mx-2 my-auto"></i>
						</div>
						<div class="d-flex flex-column flex-grow-1">
							<div class="bar" v-for="(n,i) in children" :key="n.id" :data-id="n.id" :data-index="i" :style="{ backgroundColor: bgColor(n,i), color: fgColor(n,i), flexGrow: n.value }"
								@click="down(i)" @mouseover="hovered=i"
								data-toggle="tooltip" data-placement="left" :title="tooltips[n.altId] || tooltips[n.id]">
								<div class="text-right w-100">
									{{ groupNums(n.value) }}
									<span class="d-none d-md-inline">({{ Math.round(n.value/node.value*100) }}%)</span>
								</div>
							</div>
						</div>
					</div>
					<div class="middle-column curves">
						<svg height="100%" width="100%">
							<path class="curve" v-for="(n,i) in children" :d="curves[i]" :style="{ stroke: bgColor(n,i) }" vector-effect="non-scaling-stroke"></path>
						</svg>
					</div>
					<div class="d-flex flex-column right-column text-left">
						<div class="label" v-for="(n,i) in children" :class="{ 'text-muted': hovered > -1 && i != hovered }" :data-id="n.id" :data-index="i" @click="down(i)" @mouseover="hovered=i">{{ n.name }}</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<section class="page-section" id="milestones">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col text-center">
					<h2>Fejlesztések</h2>
					<hr class="divider my-4 mb-5">
					<!--<div class="card-columns">
						<milestone-card v-for="(m, i) in milestones" :milestone="m" :class="{ 'bg-primary': i%2==0, 'text-white': i%2==0 }"></milestone-card>
					</div>-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 p-3 milestone-col" v-for="(m, i) in milestones"
					:_class="{ 'bg-primary': i%2==0, 'text-white': i%2==0 }">
					<milestone-card :milestone="m"></milestone-card>
				</div>
			</div>
		</div>
	</section>
	<script type="text/x-template" id="milestone-card-template">
		<div class="card">
			<img :src="'http://mintavaros.deepdata.hu' + milestone.picture" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{ milestone.title }}</h5>
				<p class="card-text small">{{ milestone.description }}</p>
				<p class="card-text font-weight-bold small">{{ milestone['text 1'] }}</p>
			</div>
		</div>
	</script>

	<footer class="bg-dark py-5 text-white-75">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4" id="city-logo">
					<a href="#" target="_blank">
						<img src="http://mintavaros.deepdata.hu/assets/img/mintavaros-square-logo.png" alt="">
					</a>
				</div>
				<div class="col-sm-6 col-lg-4" id="logos">
					<a href="http://www.kfib.hu/" target="_blank"><img
							src="http://mintavaros.deepdata.hu/assets/img/kfib-logo.png" alt=""></a>
					<a href="https://k-monitor.hu/" target="_blank"><img
							src="http://mintavaros.deepdata.hu/assets/img/k-monitor-logo.png" alt=""></a>
					<a href="https://www.deepdata.hu/" target="_blank"><img
							src="http://mintavaros.deepdata.hu/assets/img/deepdata-logo.png" alt=""></a>
				</div>
				<div class="col-lg-4 mt-5 mt-lg-0" id="license">
					<i class="fab fa-fw fa-creative-commons"></i>
					<i class="fab fa-fw fa-creative-commons-by"></i>
					<i class="fab fa-fw fa-creative-commons-sa mr-2"></i>
					<br class="d-none d-lg-inline-block">
					Ez a Mű a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
						Nevezd
						meg! - Így add tovább! 4.0 Nemzetközi Licenc</a> feltételeinek megfelelően felhasználható.

				</div>
			</div>
		</div>
	</footer>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.3/papaparse.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js'></script>
	<script src="js/okv.min.js"></script>
	<script src="js/inex.min.js"></script>
	<script src="js/milestones.min.js"></script>
	<script src="js/visualization.min.js"></script>
</body>

</html>