#inex {
	.bar {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-bottom: 1px;
		padding: .1rem .5rem;
	}

	.left-column, .right-column {
		width: 47.5%;
	}

	.no-wrap {
		white-space: nowrap;
	}

	.vis {
		height: 50vh;
		font-size: 90%;
		min-height: 400px;
	}

	.wrap-md {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include media-breakpoint-up(md) {
			overflow: unset;
			text-overflow: unset;
			white-space: unset;
		}
	}
}