#visualization {
	.left-column, .right-column {
		width: 45%;
	}

	.middle-column {
		width: 10%;
	}

	.bar, .label {
		align-items: center;
		display: flex;
		flex: 1;
		margin-bottom: 1px;
		padding: .1rem .5rem;
	}

	.back-bar {
		cursor: pointer;
		margin-right: 1px;

		&:hover {
			opacity: .8;
		}
	}

	.breadcrumb-item.active, .breadcrumb .subtotal {
		color: $dark;
		font-weight: bold;
	}

	.breadcrumb-item:not(.active) {
		&:not(:hover) {
			color: $text-muted;
		}
		cursor: pointer;
	}

	.curve {
		fill: none;
	}

	.label {
		text-align: left;
	}

	svg {
		height: 100%;
		width: 100%;
	}

	.vis-header {
		font-weight: bold;
	}

	.vis {
		height: 50vh;
		font-size: 90%;
		min-height: 400px;

		& > div {
			height: 100%;
		}

		.bar, .label {
			cursor: pointer;
		}
	}
}
