<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KÖKÖ Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
		integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css"
		integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		#app {
			min-height: 100vh;
		}

		.loading {
			filter: grayscale(1) opacity(0.25);
		}

		#loading>div {
			height: 5rem;
			width: 5rem;
		}

		.tab-pane>.card-footer .btn {
			margin-left: .5rem;
			margin-right: .5rem;
		}

		.list-group-item .btn {
			margin-left: .5rem;
		}

		.tab-pane>.card-body {
			padding: 3rem;
		}

		.thumb {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body>
	<div id="app" class="d-flex flex-column position-relative">
		<nav class="navbar navbar-expand navbar-light bg-light border-bottom shadow-sm mb-4" :class="{loading}">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"><strong>KÖKÖ</strong> Admin</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="https://kozertheto.k-monitor.hu/README.pdf"
								target="_blank">Dokumentáció</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
						<a class="btn btn-success" :href="publicUrl" target="_blank" v-if="publicUrl">
							KÖKÖ
							<i class="fas fa-external-link-alt ms-1"></i>
						</a>
					</ul>
				</div>
			</div>
		</nav>

		<main class="container py-5 px-lg-5" :class="{loading}">
			<div class="card shadow-sm mx-lg-5">
				<div class="card-header pb-0">
					<ul class="nav nav-tabs border-bottom-0 fw-bold" role="tablist">
						<li class="nav-item" role="presentation">
							<span class="nav-link active" id="budget-tab" data-bs-toggle="tab" data-bs-target="#budget"
								type="button" role="tab" aria-controls="budget" aria-selected="true">Költségvetés</span>
						</li>
						<li class="nav-item" role="presentation">
							<span class="nav-link" id="config-tab" data-bs-toggle="tab" data-bs-target="#config"
								type="button" role="tab" aria-controls="config" aria-selected="false">Konfig</span>
						</li>
						<li class="nav-item" role="presentation">
							<span class="nav-link" id="ms-tab" data-bs-toggle="tab" data-bs-target="#ms" type="button"
								role="tab" aria-controls="ms" aria-selected="false">Milestone képek</span>
						</li>
						<li class="nav-item" role="presentation">
							<span class="nav-link" id="site-tab" data-bs-toggle="tab" data-bs-target="#site"
								type="button" role="tab" aria-controls="site" aria-selected="false">Site</span>
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="budget" role="tabpanel" aria-labelledby="budget-tab">
						<div class="card-body">
							<p>Feltöltéskor a fájl neve mindegy, a szerveren levő <code>budget.xlsx</code> fájl lesz
								felülírva vele. Excel 2007-O365 (<code>*.xlsx</code>) fájlt kell feltölteni, melynek
								szerkezete követi a
								dokumentációban írtakat.</p>
						</div>
						<div class="card-footer text-center">
							<a class="btn btn-outline-primary" href="input/budget.xlsx" target="_blank">
								<i class="fas fa-fw fa-download me-1"></i>
								Letöltés
							</a>
							<button class="btn btn-success" @click="browseBudget">
								<i class="fas fa-fw fa-upload me-1"></i>
								Feltöltés
							</button>
							<input name="budget" ref="budgetFile" style="display:none" type="file"
								@change="uploadBudget" />
						</div>
					</div>

					<div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">
						<div class="card-body">
							<p>Új konfiguráció generálásakor a meglévő felülíródik: minden kézzel beírt érték törlődik,
								és új tooltip munkalapok jönnek létre a <code>budget.xlsx</code>-nek megfelelően.
							</p>
							<p>Feltöltéskor a fájl neve mindegy, a szerveren levő <code>config.xlsx</code> fájl lesz
								felülírva vele. Excel 2007-O365 (<code>*.xlsx</code>) fájlt kell feltölteni, melynek
								szerkezete követi a
								dokumentációban írtakat.</p>
						</div>
						<div class="card-footer text-center">
							<button class="btn btn-danger" @click="newConfig">
								<i class="fas fa-fw fa-cog me-1"></i>
								Új konfig
							</button>
							<a class="btn btn-primary" href="input/config.xlsx" target="_blank">
								<i class="fas fa-fw fa-download me-1"></i>
								Letöltés
							</a>
							<button class="btn btn-success" @click="browseConfig">
								<i class="fas fa-fw fa-upload me-1"></i>
								Feltöltés
							</button>
							<input name="config" ref="configFile" style="display:none" type="file"
								@change="uploadConfig" />
						</div>
					</div>

					<div class="tab-pane fade" id="ms" role="tabpanel" aria-labelledby="ms-tab">
						<div class="card-body">
							<p>A feltöltött fájlok eredeti neve megmarad, a szerveren levő azonos nevű fájl felül lesz
								írva. Egyszerre több fájl is feltölthető. Ajánlott ékezet és szóköz mentes fájlnevekkel
								dolgozni. A konfigban a fájlnevet pontosan kell megadni, mappanevet nem kell eléírni.
							</p>
							<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 mt-4">
								<div class="col" v-for="f in ms">
									<div class="card shadow-sm">
										<div class="ratio ratio-16x9">
											<a class="card-img-top bg-light d-flex align-items-center justify-content-center thumb"
												:style="{ backgroundImage: 'url(ms/' + f + ')' }" :href="'ms/' + f"
												target="_blank">
											</a>
										</div>
										<div class="card-footer d-flex align-items-center px-1">
											<div class="flex-grow-1 text-truncate">{{ f }}</div>
											<button class="btn btn-sm btn-danger" @click="delMs(f)">
												<i class="fas fa-fw fa-trash"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer text-center">
							<button class="btn btn-success" @click="browseMs">
								<i class="fas fa-fw fa-upload me-1"></i>
								Feltöltés
							</button>
							<input name="ms" ref="msFile" style="display:none" type="file" multiple
								@change="uploadMs" />
						</div>
					</div>

					<div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="site-tab">
						<div class="card-body">
							<p>A KÖKÖ site-ot a költségvetés, konfiguráció, vagy képek módosítása után le kell
								generálni. Ez a folyamat akár 1-2 percig is tarthat.</p>
							<p>Generálás után a site fájljai letölthetőek ZIP-ben. Ez egy <code>dist</code> mappát fog
								tartalmazni,
								ezt lehet webszerveren hosztolni. Fontos, hogy a site végleges URL-jét (és az OG image
								URL-t is) a konfigban előzetesen be kell állítani!</p>
							<p>Lehetőség van a forráskód letöltésére is, a generált ZIP fájl tartalmazza a feltöltött
								fájlokat és a használati útmutatót is.</p>
						</div>
						<div class="card-footer text-center">
							<a class="btn btn-outline-primary" href="zip/code" target="_blank">
								<i class="fas fa-fw fa-code me-1"></i>
								Forráskód
							</a>
							<button class="btn btn-success" @click="buildSite">
								<i class="fas fa-fw fa-cog me-1"></i>
								Generálás
							</button>
							<a class="btn btn-primary" href="zip/site" target="_blank">
								<i class="fas fa-fw fa-download me-1"></i>
								Kész site
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div id="loading"
			class="align-items-center d-flex flex-column h-100 justify-content-center position-absolute w-100"
			v-if="loading">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<h1 class="mt-4" v-if="loading !== !!loading">{{ loading }}</h1>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"
		integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data: {
				loading: false,
				ms: [],
				publicUrl: null
			},
			methods: {
				browseBudget() {
					this.$refs.budgetFile.click()
				},
				browseConfig() {
					this.$refs.configFile.click()
				},
				browseMs() {
					this.$refs.msFile.click()
				},
				async buildSite() {
					try {
						this.loading = 'Weboldal generálása...'
						await fetch('buildSite', { method: 'POST' })
						this.loading = 'Weboldal publikálása...'
						await fetch('deploySite', { method: 'POST' })
					} catch {
						alert('Nem sikerült! :C')
					} finally {
						this.loading = false
					}
				},
				async delMs(f) {
					if (!confirm(`Biztosan törlöd ezt a fájlt? (${f})`)) return
					this.loading = true
					try {
						await fetch('ms/' + f, { method: 'DELETE' })
						await this.updateMs()
					} catch {
						alert('Nem sikerült! :C')
					} finally {
						this.loading = false
					}
				},
				async newConfig() {
					if (!confirm('Biztosan felülírod az aktuális konfigot egy új, üres konfiggal?')) return
					this.loading = 'Új konfig generálása...'
					try {
						await fetch('newConfig', { method: 'POST' })
					} catch {
						alert('Nem sikerült! :C')
					} finally {
						this.loading = false
					}
				},
				async updateMs() {
					const r = await fetch('ms')
					this.ms = await r.json()
				},
				async upload(endpoint, field, ref) {
					this.loading = 'Feltöltés...'
					const body = new FormData()
					for (let i = 0; i < ref.files.length; i++) {
						body.append(field, ref.files[i])
					}
					try {
						await fetch(endpoint, { method: 'POST', body })
					} catch {
						alert('Nem sikerült! :C')
					} finally {
						this.loading = false
					}
				},
				uploadBudget() {
					this.upload('budget', 'budget', this.$refs.budgetFile)
				},
				uploadConfig() {
					this.upload('config', 'config', this.$refs.configFile)
				},
				async uploadMs() {
					await this.upload('ms', 'ms', this.$refs.msFile)
					this.updateMs()
				}
			},
			async mounted() {
				this.loading = true
				const r = await fetch('/publicUrl')
				this.publicUrl = await r.text()
				await this.updateMs()
				this.loading = false

				// TODO ONLY FOR DEV:
				//document.querySelectorAll('.nav-link')[3].click()
			}
		})
	</script>
</body>

</html>