@import "generated";

// Definitions

$fontin: 'Fontin-Sans-Regular';
@font-face {
  font-family: $fontin;
  src:
    url('/assets/fonts/Fontin-Sans-Regular.ttf.woff') format('woff'),
    url('/assets/fonts/Fontin-Sans-Regular.ttf.svg#Fontin-Sans-Regular') format('svg'),
    url('/assets/fonts/Fontin-Sans-Regular.ttf.eot'),
    url('/assets/fonts/Fontin-Sans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@function prependOverride($custom, $default) {
	@if $custom !=null {
		@return $custom,
		$default;
	}

	@return $default;
}

// Bootstrap overrides

$font-family-sans-serif: "Roboto Condensed";
$font-family-base: null !default;
$font-family-base: prependOverride($font-family-base, $font-family-sans-serif);
$headings-font-family: null !default;
$headings-font-family: prependOverride($headings-font-family, $font-family-base);

$primary: #1d3e6f; // default year theme color
$danger: firebrick !default;
$success: seagreen !default;

// Custom variables

$masthead-img: '/assets/img/cover.jpg';
$navbar-height: 72px;
$overlay-on-milestone-card-picture: true;
$overlay-on-milestone-thumbnail: true;
$vis-font-family: null !default;
$vis-font-family: prependOverride($vis-font-family, $font-family-base);
$year-colors: () !default;
